<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://socialityapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>socialityapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>socialityapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$socialityapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProductionConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rfm5zmr45k.database.windows.net,1433;Initial Catalog=socialityapp_db;User ID=sergius0301@rfm5zmr45k;Password=Lilia7575" Name="Data Source=tcp:rfm5zmr45k.database.windows.net,1433;Initial Catalog=socialityapp_db;User Id=sergius0301@rfm5zmr45k;Password=Lilia7575" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SocialityApp.Models.ApplicationDbContext, SocialityApp" MigrationConfiguration="SocialityApp.Migrations.Configuration, SocialityApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProductionConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rfm5zmr45k.database.windows.net,1433;Initial Catalog=socialityapp_db;User Id=sergius0301@rfm5zmr45k;Password=Lilia7575</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>